<div class="jumbotron">
  <h1>Hello! <%= current_user.name %></h1>
  <p>You can manage you posts.</p>
  <p>
    <%= link_to t('app.user.posts.my_posts'), posts_path, :class => "btn btn-primary btn-lg" %>
  </p>
</div>
