<div class="row">
  <div class="col-md-8">
    <h1 class="page-header" id="posts-title">
      Users Posts
    </h1>
    <div id="posts">
      <%= render :partial => 'posts/post', :collection => @posts %>
    </div>
    <%= will_paginate @posts %>
  </div>

  <div class="col-md-4">
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <li>
              <%= link_to_remote "Popular posts", :url => popular_posts_path, :method => :get %>
            </li>
            <li>
              <%= link_to_remote "Best posts", :url => best_posts_path, :method => :get %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
