<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%=h @user.name%></h1>
    <p>
      You post got 3 comments! post url: <%=h post_path(@post) %>.
    </p>
  </body>
</html>
