<h2>
  <%= link_to post.title, user_post_path(current_user, post) %>
</h2>
<p>Posted on <%= l(post.created_at, :format => :long) %></p>
<hr>
<p><%= truncate(post.body, :length => 100) %></p>
<hr>
<%= link_to(t('app.forms.edit'), edit_user_post_path(current_user, post), :class => "btn btn-primary") %>
